[Desktop Entry]
Type=Application
Name=Nimbus
Icon=fh-nimbus
GenericName=Web Browser
Comment=Browse the World Wide Web
Exec=/usr/local/bin/nimbus
MimeType=text/html;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/file;
Categories=Network;WebBrowser;
